PORT=3001
OOS_GATEWAY_PORT=3001
OOS_GATEWAY_ALLOWED_ORIGINS=http://localhost:3000
OOS_GATEWAY_AUTH_SERVICE_URL=http://127.0.0.1:3002
OOS_GATEWAY_CATALOG_SERVICE_URL=http://127.0.0.1:3005
OOS_GATEWAY_CART_SERVICE_URL=http://127.0.0.1:3004
OOS_GATEWAY_PROMO_SERVICE_URL=http://127.0.0.1:3006
OOS_GATEWAY_ORDER_SERVICE_URL=http://127.0.0.1:3003
OOS_GATEWAY_DELIVERY_SERVICE_URL=http://127.0.0.1:3007
OOS_GATEWAY_APICENTER_URL=https://api-center-test.itsandbox.site
OOS_GATEWAY_APICENTER_TRIBE_ID=greenovate
OOS_GATEWAY_APICENTER_TRIBE_SECRET=your_tribe_secret_here
APICENTER_URL=https://api-center-test.itsandbox.site
APICENTER_TRIBE_ID=greenovate
APICENTER_TRIBE_SECRET=your_tribe_secret_here
