PORT=3006
OOS_PROMO_PORT=3006

OOS_PROMO_SECOND_SUPABASE_URL=https://zlmtktsjroogcfecxkvv.supabase.co
OOS_PROMO_SECOND_SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

OOS_PROMO_APICENTER_URL=https://api-center-test.itsandbox.site
OOS_PROMO_APICENTER_TRIBE_ID=greenovate
OOS_PROMO_APICENTER_TRIBE_SECRET=your_tribe_secret_here
APICENTER_URL=https://api-center-test.itsandbox.site
APICENTER_TRIBE_ID=greenovate
APICENTER_TRIBE_SECRET=your_tribe_secret_here
